<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include("./partials/_header") %>

    <div class="jumbotron text-center rounded-0">
      <h1 class="display-4">To Be Decided Inc.</h1>
      <hr class="my-4" />
      <p class="lead">
        With our innovative and unqiue interface you can create your own polls
        <br />
        or be part of the vote to make important decisions, with ease.
      </p>
    </div>

    <main class="border w-75 container p-4">
      <h1 class="text-center">Active Polls</h1>
      <hr class="mb-5 mt-3 w-50 shadow-sm" />
      <div class="row m-3">
        <% for (let poll of polls) { %>
        <div class="col-md-6 col-sm-8 p-3">
          <div class="card p-0 text-center">
            <h5 class="card-header"><%= poll.title %></h5>
            <div class="card-body">
              <p class="card-text"><%= poll.description %></p>
              <a
                href="/polls/<%= poll.id %>"
                class="btn btn-sm btn-outline-primary"
                >Vote</a
              >
              <br />
              <span class="text-muted float-right"
                >Created by <%= poll.name %>
              </span>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
