<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/results.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1> Question: <%= polls[0].question %></h1>

    <table
      id="bar-graph" class="charts-css bar show-primary-axis data-spacing-7 show-heading show-labels">
      <caption>
        Poll Results
      </caption>

      <tbody>
        <% for (let option of polls) { %>
        <tr>
          <th scope="row"><%= option.name %> </th>
          <td style="--size: calc(<%= option.point_total %> / <%= total %>)">
          </td>
          <% } %>
        </tr>
      </tbody>
    </table>

    <div class="results-table">
      <table >

      <caption>
        Voting History
      </caption>

      <thead>
        <tr>
          <th scope="col"> Name </th>
          <th scope="col"> Choice </th>
          <th scope="col"> Point </th>
        </tr>
      </thead>

      <tbody>
        <% for (let vote of voteHistory) { %>
          <tr>
            <th scope="row"><%= vote.name %></th>
            <td><%= vote.choice %></td>
            <td><%= vote.point %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    </div>

    <div>
      <button type="submit" class="btn btn-outline-danger">
        Deactivate Poll
      </button>
    </div>

  </body>
</html>
